body{
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

.container{
	width: 100%;
	max-width: 980px;
	padding: 0 20px;
	margin: 0 auto;
}


/* header */

.header{
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 80px;
	
	position: absolute;

}

.header-fixed{
	background-color: #322954;
	height: 60px;
	
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
	
	
}

.header__wrapper{
	display: flex;
	align-items:center;
	justify-content: space-between

}


.logo{
	display: flex;
	flex-direction: row;
	margin: 5px;
}

.logo__img{
	margin: auto;
}

h1{
	font-size: 30px;
	font-weight: 100;
	margin: auto;
	margin-left: 10px;
	color: #08d9d0;
}


nav{
	display: flex;
	justify-content: center;
	align-items: center;
}

.navigation__link{
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	
	position: relative;
	
	margin-left: 25px;
	
	transition: color .2s linear;
}

.navigation__link:hover{
	color: #00e0d0;
}

.navigation__link.active{
	color: #00e0d0;
}

.nav-toggle{
	position: absolute;
	
	padding: 10px 0;
	border: 0;
	background: none;
	cursor: pointer;
	display: none;
	
	width: 30px;
	top: 30px;
	right: 25px;
	z-index: 1;
}

.nav-toggle.active .nav-toggle__item{
	background: none;
}

.nav-toggle.active .nav-toggle__item:before{
	transform-origin: left top;
	transform: rotate(40deg) translateX(-2px);
}

.nav-toggle.active .nav-toggle__item:after{
	transform-origin: left bottom;
	transform: rotate(-40deg) translateX(-2px);
}



.nav-toggle__item{
	display: block;
	width: 30px;
	height: 3px;
	background-color: #fff;
	
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	margin: auto;
	
}

.nav-toggle__item:before,
.nav-toggle__item:after{
	content: '';
	width: 100%;
	height: 3px;
	background-color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
	transition: transform .25s linear;
}

.nav-toggle__item:before{
	top: -8px;
}

.nav-toggle__item:after{
	bottom: -8px;
}

.intro{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	width: 100%;
	height: 100vh;
	
	background: url(../img/intro.jpg) center no-repeat;
	background-size: cover;
	z-index: 1;
}

.intro__part{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

.slick-arrow{
	font-size: 0;
	color: transparent;
	
	border: 0;
	background: none;
	display: block;
	content: '';
	
	width: 20px;
	height: 20px;
	
	border-top: 2px solid #9f9f9f;
	border-right: 2px solid #9f9f9f;
	
	position: absolute;
	z-index: 2;
}

.slick-next{
	cursor: pointer;
	top: 70%;
	right: 20px;
	transform: translateY(-50%) rotate(45deg);
}

.slick-prev{
	cursor: pointer;
	top: 70%;
	left: 20px;
	transform: translateY(-50%) rotate(-135deg);
}

.intro__part-item{
	display: none;
}

.intro__part-item.active{
	display: block;
}

.intro__title{
	font-size: 32px;
	font-weight: 900;
	text-align: center;
	color: #fff;
	margin-top: 220px;
}

.intro__title:after{
	display: block;
	content: '';
	width: 50px;
	height: 1px;
	background-color: #00e0d0;
	align-self: center;
	margin: 25px auto 0;
}

.intro__text{
	text-align: center;
	margin: 0;
	color: #fff;
}


/*  button  */


.button{
	color: #03d4c8;
	display: flex;
	justify-content: center;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 13px;
	font-weight: 700;
	width: 115px;
	height: 35px;
	border: 1px solid #03d4c8;
	border-radius: 2px;
	margin: 50px auto 0;
	cursor: pointer;
}


.intro__slider{
	margin: auto;
	display: flex;
	flex-direction: row;
	margin-top: 120px;
	width: 60px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 70px;
}

.slider__switcher{
	display: block;
	width: 9px;
	height: 9px;
	border: 1px solid #fff;
	border-radius: 4px;
}

.slider__switcher.active{
	background-color: #00e0d0;
	border-color: #00e0d0;
}


/*   story   */


.ourstory{
	padding: 70px 0 0 0;
}

.story{
	display: flex;
	
	align-items: flex-start;
	width: 100%;
	max-width: 940px;
}

.story__img{
	margin: auto;
	padding: 0 60px;
}

.story__text{
	margin-left: 40px;
}

.story__container{
	margin-bottom: 70px;
}

.section__title{
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	text-decoration: none;
}

.story__title{
	text-align: left;
}

.section__text{
	font-size: 14px;
	font-weight: 300;
	color: #716e78;
}

.story__video{
	width: 100%;
	height: 550px;
	background: url(../img/story_video.jpg) center no-repeat;
	background-size: cover;
	position: relative;
} 

iframe{
	width: 50%;
	height: 550px;
	position: absolute;
	right: 50%;
	transform: translateX(50%);
}

/*		expertise		*/


.exp__title{
	margin: 70px 0 20px 0;
}

.exp__subtitle{
	text-align: center;
	color: #a1a0a4;
	font-size: 14px;
	margin: 0;
}

.exp__subtitle:after{
	display: block;
	
	content: '';
	
	width: 50px;
	height: 1px;
	margin: 20px auto 70px;
	
	background-color: #c6c4c9;
}

.items__list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
	margin-bottom: 0;
	width: 100%;
	height: 100%;
	min-height: 180px;
	max-width: 940px;
	
}

.list__item{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	margin: 0;
	width: 33.333%;
	margin-bottom: 105px;
}

.list__item--upper{
	margin-bottom: 40px;
	padding-bottom: 40px;
	border-bottom: 1px solid #ebebeb;
}



.item__title{
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	
	margin-top: 30px;
}

.item__text{
	font-size: 14px;
	font-weight: 300;
	text-align: center;
	width: 250px;
	text-justify: inter-word;
}

.exp__hr{
	margin: 0;
	color: #ebebeb;
	opacity: 0.5;
	height: 1px;
}


/* team */


.team{
	background: url(../img/teambg_02.jpg) center no-repeat;
	background-size: cover;
	height: 100%;
	
}

.team__title{
	padding-top: 65px;
	color: #fff;
}

.team__subtitle{
	text-align: center;
	color: #a1a0a4;
	font-size: 14px;
	margin: 0;
}

.team__subtitle:after{
	display: block;
	
	content: '';
	
	width: 50px;
	height: 1px;
	margin: 20px auto 45px;
	
	background-color: #c6c4c9;
}

.members__list{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 0;
}

.member{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	
}

.member:after{
	display: block;
	content: '';
	width: 220px;
	height: 1px;
	background-color: #ebebeb;
}

.member__image{
	display:block;
	
	width: 220px;
	height: 230px;
	
	background-color: #b6b6b6;
}

.member__info{
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin: 20px auto 0;
	text-transform: uppercase;
}

.member__info:last-child{
	font-size: 13px;
	font-weight: 300;
	color: #aeadba;
	margin-top: 5px;
	margin-bottom: 20px;
}

.join__us{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.join__text{
	color: #aeadba;
	margin-top: 70px; 
}

.join__btn{
	margin: 25px 0 70px;
}

.works__upper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 40px auto;
}

.works__link{
	text-decoration: none;
	font-size: 14px;
	color: #5a5763;
	position: relative;
}

.works__link:after{
	display: block;
	content: '';
	
	width: 10px;
	height: 10px;
	
	border-top: 2px solid #5a5763;
	border-right: 2px solid #5a5763;
	
	position: absolute;
	top: 50%;
	left: 165px;
	transform: translateY(-50%) rotate(45deg)
}


.works{
	width: 100%;
	height: 100%;
	
	max-width: 1620px;
	min-height: 200px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	flex-direction: row;
	align-content: center;
	
	
	margin: 0 auto;
}

.works__img{
	display: block;
	
	width: 270px;
	height: 200px;
	
	background-color: #b6b6b6;
}

.button__place{
	display: flex;
	justify-content: center;
	margin-bottom: 70px;
	margin-top: 20px;
}

/*  comments  */

.comments{
	width: 100%;
	background: url(../img/comments_bg_02.jpg) center no-repeat;
	background-size: cover;
}

.comments__slider.slick-slider{
	display: flex;
}

.comments__slider .slick-next{
	top: 50%;
}

.comments__slider .slick-prev{
	top: 50%;
}

.comment{
	max-width: 780px;
	margin: 0 80px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

.comment.active{
	display: flex;
}

.comments__sign{
	font-size: 100px;
	color: #fff;
	margin: 60px auto 0;
	text-align: center;
	
}

.comment__text{
	font-size: 16px;
	color: #bdb9c7;
	margin: 0;
	text-align: center;
}

.comment__creator{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	margin-top: 50px;
}


.creator__info{
	font-size: 13px;
	font-weight: 100;
	color: #bdb9c7;
}

.creator__info:first-child {
	font-size: 14px;
	font-weight: 900;
	color: #fff;
}

.creators{
	height: 80px;
	width: 320px;
	margin-bottom: 80px;
}



.creator__img{
	width: 44px;
	height: 44px;

	margin: 45px 125px;
	
	border-radius: 50%;
	
	background-color: #fff;
}

.slider__active{
	height: 70px;
	width: 70px;
	
	border-radius: 35px;
}

/*  contact  */

.contact{
	;
	margin: 70px 0;
}

.contact__container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 940px;
	
}

.contact__title{
	text-align: left;
}

message{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.message__part{
	display: flex;
	
	width: 480px;
	height: 45px;
	
	font-size: 16px;
	
	border: 1px solid #e5e5e5;
	
	margin: 0 0 20px;
}

input::placeholder{
	color: #9f9f9f;
}


input[name="Your Massage"]{
	margin: 0;
}

.message__part:last-of-type{
	height: 200px;
}

.contact__btn{
	margin: 0;
}

.our__clients{
	display: flex;
	flex-direction: column;
	
}

.clients__list{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	max-width: 380px;
}

.clients__column{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 430px;
}

.clients__column:last-child{
	margin-left: 60px;
}


.img{
	margin: auto;
}


/*  footer  */


footer{
	background: url(../img/footer_02.jpg) center no-repeat;
	background-size: cover;
}

.footer__container{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 980px;
	
}

.footer__column{
	margin: 70px auto;
	max-width: 310px;
	max-height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	
}

.footer__logo{
	width: 130px;
	display: flex;
}


.footer__text{
	font-size: 14px;
	font-weight: 100;
	color: #fff;
	
	margin: 25px 0 80px;
}

.footer__links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.footer__link{
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 400;
	color: #fff;
	margin-right: 30px;
	text-decoration: none;
}

.footer__link:last-child{
	margin-right: 0;
}


.footer__title{
	font-size: 15px;
	font-weight: 900;
	color: #fff;
	text-transform: uppercase;
}

.second__column{
	margin-bottom: 140px;
}

.address{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	max-height: 70px;
	max-width: 310px;
}

.address p{
	font-size: 14px;
	font-weight: 100;
	color: #fff;
	margin: 25px 40px 0 15px;
}

.phone{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 145px;
	height: 20px;
	margin-top: 25px;
}

.phone span{
	margin-left: 10px;
	
	font-size: 14px;
	font-weight: 100;
	color: #fff;
}

.subscribe{
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
}

.subscribe__text{
	display: flex;
	width: 210px;
	height: 45px;
	margin: 0;
	text-align: center;
	color: #cecbd7;
	border: 1px solid #cecbd7;
	text-decoration: none;
	justify-content: center;
	align-items: center;
}

.subscribe__btn{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(255, 255, 255, 0.3);
	
	width: 70px;
	height: 45px;
}

.last{
	max-width: 290px;
}


.footer__contacts{
	display: flex;
	margin-top: 30px;
}

.icon__link{
	display: flex;
	height: 34px;
	width: 34px;
	margin-right: 10px;
	border: 1px solid #ffffff;
	border-radius: 17px;
}

.copyright{
	color: #fff;
	text-align: right;
	font-size: 14px;
	margin-top: 40px;

}






/*  media  */

@media(max-width: 1440px){
	.works__img{
		width: 33.3333%;
	}
}


@media (max-width: 1024px) {
	
	
	/*  intro  */
	
	.intro__title{
		margin-top: 100px;
		font-size: 24px;
	}
	
	.intro__text{
		font-size: 16px;
	}
	
	.intro__slider{
		margin-top: 60px;
	}
	
	.section__title{
		font-size: 16px;
	}
	
	.slcik-next{
		top: 75%;
		
	}
	
	.slick-rev{
		top: 75%;
		
	}
	
	/* story */
	
	.ourstory{
		padding-top: 0;
	}
	
	.story__container{
		margin-bottom: 15px;
	}
	
	.story__video{
		height: 450px;
	}
	
	iframe{
		height: 450px;
	}
	
	.exp__title{
		margin-top: 15px;
	}
	
	.exp__subtitle:after{
		margin-bottom: 35px;
	}
	
	.items__list{
		margin-top: 20px;
	}
	
	.items__list:last-child{
		margin-bottom: 25px;
	}
	
	.team__title{
		padding-top: 30px;
	}
	
	.join__text{
		margin-top: 30px;
	}
	
	.join__btn{
		margin-bottom: 35px;
	}
	
	.works__upper{
		margin: 20px auto;
	}
	
	.button__place{
		margin: 0 auto 25px;
	}
	
	.works__btn{
		margin-top: 25px;
	}
	
	.comments__sign{
		margin-top: 20px;
		font-size: 70px;
	}
	
	.contact{
		margin-top: 0;
	}
	
	.footer__column{
		margin: 30px auto;
	}
	
	.second__column{
		margin-bottom: 100px;
	}
}


@media (max-width: 768px){
	
	
	nav{
		display: none;
		flex-direction: column;
		position: absolute;
		top: 100%;
		width: 100%;
		left: 0;
		
	}
	
	nav.active{
		display: block;
		z-index: 1000;
	}
	
	.navigation__link{
		width: 100%;
		display: block;
		background-color: #322954;
		margin-left: 0;
		padding: 8px;
		padding-left: 25px;
		
	}
	
	.nav-toggle{
		display: block;
	}
	
	.story__video{
		height: 400px;
	}
	
	iframe{
		width: 100%;
		height: 400px;
	}
	
	.story__text{
		margin-left: 10px;
	}
	
	.items__list{
		justify-content: space-around;
	}
	
	.list__item{
		margin: 15px;
	}
	
	.list__item--upper{
		border: none;
	}
	
	.member:last-child{
		margin-top: 25px;
	}
	
	.member__info:last-child{
		margin-bottom: 5px;
	}
	
	.member:last-child .member__info:last-child{
		margin-bottom: 0;
	}
	
	.member:after{
		display: none;
	}
	
	
	.join__us{
		margin-top: 10px;
	}
	
	.link__wrapper{
		margin-right: 15px;
	}
	
	.contact__title{
		text-align: center;
	}
	
	.message{
		width: 100%
	}
	
	.message__part{
		width: 100%;
	}
	
	.contact__btn{
		margin: 0 auto;
	}
	
	
	.our__clients{
		width: 100%;
	}
	
	.clients__list{
		max-width: 100%;
		justify-content: space-around;
	}
	
	.footer__title{
		text-align: center;
	}
	
	.footer__contacts{
		justify-content: center;
	}
	
	.copyright{
		text-align: center;
	}
}

@media (max-width: 425px){
	
	.intro__title{
		font-size: 20px;
	}
	
	.intro__text{
		font-size: 12px;
	}
	
	.slick-next{
		top: 85%;
	}
	
	.slick-prev{
		top: 85%;
	}
	
	.intro__slider{
		margin: 20px auto;
	}
	
	.button{
		margin-top: 15px;
	}
	
	.story{
		flex-wrap: wrap;
	}
	
	.story__img{
		height: 150px;
		width: auto;
		padding: 15px;
	}
	
	.story__text{
		margin-left: 0;
	}
	
	.story__title{
		text-align: center;
	}
	
	.story__video{
		height: 300px;
	}
	
	iframe{
		height: 300px;
	}
	
	.exp__subtitle:after{
		margin-bottom: 5px;
	}
	
	.items__list{
		margin-top: 5px;
	}
	
	.list__item{
		width: 100%;
		margin-bottom: 0;
	}
	
	.list__item--upper{
		padding-bottom: 0;
	}
	
	.member:last-child{
		margin-top: 0;
	}
	
	.member__info{
		margin: 5px auto 0;
	}
	
	.member__info:last-child{
		margin-bottom: 15px;
	}
	
	.join__text{
		text-align: center;
	}
	
	.works__img{
		width: 50%;
	}
	
	.comments__sign{
		font-size: 50px;
	}
	
	.comment__text{
		font-size: 12px;
	}
	
	.comment__creator{
		margin-top: 25px;
	}
	
	.creator__info{
		font-size: 10px;
	}
	
	.creators{
		width: 220px;
		margin: 10px auto 30px;
	}
	
	.creators:before{
		right: 240px;
	}
	
	.creators:after{
		left: 240px;
	}
	
	.creator__img{
		margin: 20px 70px;
	}
	
	.footer__column{
		margin: 5px auto;
	}
	
	.footer__text{
		margin-bottom: 20px;
	}
	
	.subscribe{
		margin-top: 5px;
	}
	
	
}

@media (max-width: 375px){
	.works__img{
		width: 100%;
	}
	
	.clients__column:last-child{
		margin-left: 0;
	}
	
	.creator__img{
		margin: 10px 50px;
	}
}

@media (max-width: 320px){
	.intro__title{
		text-align: center;
		margin-top: 75px;
		font-size: 20px;
	}
	
	.intro__text{
		font-size: 14px;
	}
	
	.creator__img{
		margin: 10px 25px;
	}
}























